body {
    background-color: white !important;
}

.table{
    padding: 30px;
}
.td-text-center-mob{
    display: none;
}


.tr-color-grey{
    background: #ebebeb;
}

.portrait-crop{
    display: inline-block;
    height: 215px;
    width: 50%;
    overflow: hidden;
}
.on-mobile-mycar{
    display: none;
}

.td-size2{
    width: 80%;
}
.td-text-center2{
    width: 20%;
}
.icons-my{
    width: 40%;
    float: right;
    padding-top: 50px;
    font-size: 30px;
}

.icons-href{
    text-decoration: none;
    color: black;

}

.contacts-left{
    width: 30%;
    float: left;
}

.contacts-right{
    width: 70%;
    float: right;
}


.portrait-crop img{
    width: 100%;
}

.image-grey{
    background-image: url(../img/mycar.jpg);
    background-size: cover;
    min-height: 1000px;
    width: 100%;
}


.a{
    font-family: "Open Sans";
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: black;
}
.mycar-price{
    color: black;
    padding: 50px;
    padding-top: 30px;
}

h1,
h2,
h3 {
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans";
    text-size-adjust: 100%;
}

.clear-container {
    background-color: white;
    margin: 0;
    min-height: 50px;
    //margin-left: -1px;
    float: left;
    text-align: center;
    padding-left: 30px;
    width: 10%

}
.mobile-br{
    display: none;
}
.head-25 {
    display: block;
    padding-top: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}


/*                     */
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding-top: 8px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 20px;
    -webkit-font-smoothing: antialiased;

}

ul.menu > li > a:hover {
    background-color: white;
    font-family: "Open Sans";
    font-size: 20px;
    -webkit-font-smoothing: antialiased;

}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;

}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 20px;
    -webkit-font-smoothing: antialiased;


}

ul.submenu > li > a:hover {
    text-decoration: underline;
    text-decoration: none;
    color: #1b98e0;
    text-size-adjust: 100%;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}


/*     -----------*/
a.text1:active{
    text-decoration: none;
    color: black;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 25%;
    font-family: "Open Sans";
} /* активная/посещенная ссылка */
a.text1:hover{
    text-decoration: none;
    color: #1b98e0;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 25%;
    font-family: "Open Sans";
} /* при наведении */
a.text1 {
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 25%;
}
.width-200{
    width: 200px;
}

.text {
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.map {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
}

.footer-info {
    color: black;
    font-size: 20px;
    padding-left: 50px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    padding-bottom: 25px
}

.footer-bottom {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #646464;
    padding-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

.color-icons{
    color: #1b98e0;
}

.div-hidden-fix {
    overflow: hidden;
}
.button-send-mes{
    margin-top: 10px;
padding-left: 10px;
}

.h1-footer {
    color: black;
    font-size: 14px;
    padding-left: 50px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;

    line-height: 24px;
    padding-bottom: 25px
}

.h1-footer2 {
    color: black;
    padding-left: 50px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 25px;
    padding-top: 60px;
}
.h1-footer2 i {
    padding-right: 10px;
}

.footer {
    min-height: 200px;
    width: 100%
}
.footer-60{
    width: 60%;
    float: left;
}
td{
    border: 2px;
}
.td-size{
    width: 64%;
}
.td-text-center{
    text-align: center;
    width: 12%;
}

@media (min-width: 501px) {
    header {
        min-height: 100px;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: none;

    }



    body {
        width: 100%
    }

    div img {

        width: 100%

    }

    .div-img {
        position: relative;

        overflow: hidden;
    }

    .div-input {
        width: 100%;
        float: right;
        position: absolute;
        top: 200px;
        left: 0;
        color: white;
        font-size: 1em;
        padding-left: 64%;

    }

    .div-h3-25 {
        color: white;
        float: left;
    }

    .h2-img {
        position: absolute;
        top: 300px;
        left: 0;
        width: 95%;
        color: white;
        font-size: 3em;
        padding-left: 50px;
    }

    .select123 {
        width: 0;
    }

    .per25 {
        width: 25%;
        float: left;
        background-color: white;
        color: #D7D7D7;
    }

    li {
        list-style-type: none; /* Убираем маркеры */
    }

    .header {
        min-height: 100px;
        background-color: white;

    }

    .img1 {
        width: 100%;
    }

    .div-img {
        width: auto;
        max-width: 100%;

    }

    .logo {
        height: 100px;
        width: 90%;
        padding-left: 5px;
    }
}


@media (max-width: 500px) {
    .select123 {
        width: 100px;
    }
    .clear-container{
        width: 25%;
        padding-left: 3%;
    }
    div img{
        display: none;
    }
    .mobile-fone{
        padding-top: 50px;
        background-image: url("../img/123.jpg");
        color: white;
    }
    .h2-img{
        display: none;
    }
    .button-padding-mob{
        padding-bottom: 20px;
    }
    .vision-on-mobile {
        display: none;
    }

    header {
        background-color: white;
    }
    .div-input{
        padding-left: 15px;
    }
    .logo {
        height: 0px;
        width: auto;
        text-align: left;
    }

    body {
        background-color: white;
        width: 100%
    }

    li {
        list-style-type: none; /* Убираем маркеры */
    }

    .per25 {
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
    }

    .img1 {
        width: 100%;
    }

    .div-img {
        width: auto;
        max-width: 100%;

    }
    .td-text-center-comp{
        display: none;
    }
    .td-text-center-mob{
        display: block;
    }
    .table{
        padding-left: 0px;
    }
    .mycar-price{
        padding: 15px;
    }
    .on-mobile-chistka{
        width: 500px;
        height: 250px;
        overflow: hidden;
        background-image: url(../img/chistka.jpg);
        background-size: cover;
        background-position: center;
    }
    .on-mobile-vis{
        display: block;
    }
    .on-mobile-hid{
      display: none;
    }

    .contacts-left{
        width:100%
    }

    .contacts-right{
        width: 100%;
        padding-left: 20px;
    }
    .button-send-mes{
        padding-bottom: 20px;
    }
    .on-mobile-mycar{
        display: block;
        width: 500px;
        height: 250px;
        overflow: hidden;
        background-image: url(../img/mycar.jpg);
        background-size: cover;
        background-position: top;
    }
    .contacts-fix-padding{
        padding-right: 10px;
    }
}
.on-mobile-vis{
    display: none;
}
.mobile-padding{
    padding-left: 13px;
}
.mobile-padding2{
    padding-right: 13px;
}
